/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #f8cdda, #1d2b64);
}

.container {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 400px;
}

/* Headings */
h1, h2 {
    margin-bottom: 20px;
    color: #e74c3c;
    font-family: 'Pacifico', cursive;
}

/* Button Styles */
.btn {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: bold;
}

.login-btn {
    background-color: #ff6b6b;
    color: white;
}

.login-btn:hover {
    background-color: #ff4c4c;
    transform: translateY(-2px);
}

.register-btn {
    background-color: #4CAF50;
    color: white;
}

.register-btn:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.back-btn {
    background-color: #f39c12;
    color: white;
}

.back-btn:hover {
    background-color: #e67e22;
    transform: translateY(-2px);
}

/* Input Styles */
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input:focus, select:focus, textarea:focus {
    border-color: #e74c3c;
    outline: none;
    box-shadow: 0 0 5px rgba(231, 76, 60, 0.5);
}

/* Form Container */
.form-container {
    display: none;
}

/* Age Range Label */
#age-range-label {
    display: inline-block;
    margin-top: 10px;
}